
@{
    ViewBag.Title = "Crianza";
}
<div class="inner">
    <section>
        <header class="major">
            <h2>Crianza</h2>
        </header>
        <div class="posts">
            <article>
                <h3>Caja CC001</h3>
                <p>
                    ID Crianza: CN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>
                <ul class="actions">
                    <li><a href="@Url.Action("CrianzaDetalles","Produccion")" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CC002</h3>
                <p>
                    ID Incubacion: CN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CC003</h3>
                <p>
                    ID Incubacion: CN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CC004</h3>
                <p>
                    ID Incubacion: CN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CC005</h3>
                <p>
                    ID Incubacion: CN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CC006</h3>
                <p>
                    ID Incubacion: CN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
        </div>
    </section>
</div>