@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">

    <header id="header">
        <a asp-controller="Home" asp-action="Index" class="logo"><strong>ColonIA</strong> by iCricket</a>
    </header>

    <div class="p-5 container mt-7">
        <h2 class="mb-5">Gestión de Categorías</h2>

        <div class="card shadow">
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre de Categoría</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Herramientas</td>
                            <td>Herramientas varias</td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#editModal" class="text-primary mr-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Materiales</td>
                            <td>Insumos necesarios para producción</td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#editModal" class="text-primary mr-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Seguridad</td>
                            <td>Elementos para protección del personal</td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#editModal" class="text-primary mr-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer py-4">
                <div class="row">
                    <div class="col-md-6">
                        <a data-toggle="modal" data-target="#createModal" class="button primary">Crear Categoría</a>
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de crear categoria-->
    <div class="modal fade" id="createModal">
        <div class="modal-dialog">
            <div class="box card modal-content">


                <div class="text-center">
                    <h2 style="color: #29a84f;">Crear Nueva Categoría</h2>
                </div>

                <form method="post">
                    <div class="form-group mb-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="categoryName">
                    </div>
                    <div class="form-group mb-3">
                        <label>Descripción</label>
                        <textarea class="form-control"></textarea>
                    </div>

                    <div class="text-center">
                        <input type="reset" class="button secondary" data-dismiss="modal" value="Cancelar" />
                        <input type="submit" class="button primary" value="Crear" />
                    </div>
                </form>

                

            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal">
        <div class="modal-dialog">

            <div class="box card">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Categoría</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" style="margin-left: auto;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="editCategoryName">Nombre</label>
                            <input type="text" class="form-control" id="editCategoryName" value="Herramientas">
                        </div>
                        <div class="form-group">
                            <label for="editCategoryDescription">Descripción</label>
                            <textarea class="form-control" id="editCategoryDescription">Equipos y utensilios de trabajo manual</textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn">Guardar Cambios</button>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="/Assets/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>