@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <header id="header">
        <a href="@Url.Action("Index", "Home")" class="logo"><strong>ColonIA</strong> by iCricket</a>
        <ul class="icons">
            <li>
                <a href="@Url.Action("UsuariosAdmin", "User")" class="icon solid fa-arrow-left"></a>
            </li>
        </ul>
    </header>

    <section>
        <div class="box card">
            <div class="text-center">
                <h2 style="color: #29a84f;">Registro de Recursos</h2>
                <h3 style="color: #e0e0e0;">Ingresa los detalles del nuevo recurso</h3>
            </div>

            <form method="post">

                <div class="form-group mb-3">
                    <label>Nombre del Recurso</label>
                    <input type="text" id="resourceName" name="resourceName" class="form-control" placeholder="Nombre del recurso" required />
                </div>

                <div class="form-group mb-3">
                    <label>Categoria</label>
                    <select required>
                        <option value="" disabled selected>Selecciona una categoria</option>
                        <option value="Material">Material</option>
                        <option value="Equipos">Equipos</option>
                        <option value="Herramientas">Herramientas</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="resourceQuantity">Cantidad</label>
                    <input type="number" name="resourceQuantity" class="form-control" placeholder="Cantidad disponible" required />
                </div>

                <div class="form-group mb-3 text-center">
                    
                    <br />
                    <input type="submit" class="buttom primary fit"/>
                </div>

            </form>

        </div>
    </section>
</div>

