<div class="inner">

    <!-- Header -->
    <header id="header">
        <a href="@Url.Action("Index", "Home")" class="logo"><strong>ColonIA</strong> by iCricket</a>
    </header>

    <section>
        <div class="box card">
            <form id="changePasswordForm" method="post">
                <div class="text-center">
                    <h2 class="text-uppercase">Reestablece tu contraseña</h2>
                    <p style="font-size: 20px;">Por favor ingrese su nueva contraseña a continuación</p>
                </div>
                <div class="form-group mb-3">
                    <input type="password" name="nuevaContrasena" placeholder="Nueva contraseña" required class="form-control-lg" />
                </div>
                <div class="form-group mb-3">
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirmar nueva contraseña" required class="form-control-lg" />
                </div>
                <div class="form-group mb-3">
                    <input type="submit" class="button primary large fit" value="Reestablecer Contraseña" />
                </div>
            </form>
            <div id="formMessage" class="text-black mt-3" style="display: none;"></div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("changePasswordForm");
        const passwordInput = form.querySelector('input[name="nuevaContrasena"]');
        const confirmInput = form.querySelector('input[name="confirmNewPassword"]');
        const messageDiv = document.getElementById("formMessage");

        form.addEventListener("submit", function (event) {
            event.preventDefault();

            if (passwordInput.value !== confirmInput.value) {
                messageDiv.style.display = "block";
                messageDiv.textContent = "Las contraseñas no coinciden.";
                messageDiv.classList.add("text-danger");
            } else {
                messageDiv.style.display = "none";
                messageDiv.textContent = "";
                messageDiv.classList.remove("text-danger");

                // SweetAlert
                Swal.fire({
                    title: 'Contraseña actualizada',
                    text: 'Tu contraseña ha sido actualizada correctamente.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            }
        });
    });
</script>

