@model Usuario;
@{
    ViewBag.Title = "Register";
}

<div class="inner">

    <!-- Header -->
    <header id="header">
        <a href="@Url.Action("Index", "Home")" class="logo"><strong>ColonIA</strong> by iCricket</a>
        <ul class="icons">
            <li>
                <a href="@Url.Action("UsuariosAdmin", "User")" class="icon solid fa-arrow-left"></a>
            </li>
        </ul>

    </header>

    <!--Form de registro -->
    <section>
        <div class="bg-dark" style="border-radius: 1rem;">
            <div class="p-5 text-center">

                <h2 style="color: #4CAF50;">Registro de Usuario</h2>
                <h3>¡Por favor ingresa los datos del nuevo usuario!</h3>

                <form method="post" asp-controller="User" asp-action="Register">
                    <div class="row gtr-uniform">


                        <div class="col-12">
                            <input type="text" placeholder="Nombre completo" required asp-for="NombreCompleto" />
                        </div>

                        <div class="col-12">
                            <input type="email" placeholder="Correo electrónico" required asp-for="Correo" />
                        </div>

                        <div class="col-12">
                            <select required asp-for="IdRole">
                                <option value="" disabled selected>Selecciona un rol</option>
                                <option value="1">Administrador</option>
                                <option value="2">Operador</option>
                                <option value="3">Supervisor</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <input asp-for="Contrasena" type="password" placeholder="Contraseña" required />
                        </div>

                        <div class="col-12">
                            <input asp-for="ConfirmacionContrasenna" type="password" placeholder="Confirmar contraseña" required />
                        </div>

                        <div class="col-12">
                            <input class="button primary fit" type="submit">
                        </div>
                        
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>
