@model Usuario;
@{
    ViewBag.Title = "Register";
}

<div class="inner">

    <!-- Header -->
    <header id="header">
        <a href="@Url.Action("Index", "Home")" class="logo"><strong>ColonIA</strong> by iCricket</a>
        <ul class="icons">
            <li>
                <a href="@Url.Action("UsuariosAdmin", "User")" class="icon solid fa-arrow-left"></a>
            </li>
        </ul>

    </header>

    <!--Form de registro -->
    <section class="">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                                <h2 class="fw-bold mb-2 text-uppercase" style="font-family: 'Roboto', sans-serif; font-size: 28px; color: #4CAF50;">Registro de Usuario</h2>
                                <p class="text-white-50 mb-5" style="font-family: 'Roboto', sans-serif; font-size: 20px;">¡Por favor ingresa los datos del nuevo usuario!</p>

                                <form id="registerForm" method="post" asp-controller="User" asp-action="Register">
                                    <div class="mb-4">
                                        <input type="text" id="fullName" class="form-control form-control-lg" placeholder="Nombre completo" required asp-for="NombreCompleto"/>
                                    </div>

                                    <div class="mb-4">
                                        <input type="email" id="email" class="form-control form-control-lg" placeholder="Correo electrónico" required asp-for="Correo"/>
                                    </div>

                                    <div class="mb-4">
                                        <select id="role" class="form-control form-control-lg" required asp-for="IdRole">
                                            <option value="">Selecciona un rol</option>
                                            <option value="1">Administrador</option>
                                            <option value="2">Operador</option>
                                            <option value="3">Supervisor</option>
                                        </select>
                                    </div>

                                    <div class="mb-4">
                                        <input type="password" id="password" class="form-control form-control-lg" placeholder="Contraseña" required />
                                    </div>

                                    <div class="mb-4">
                                        <input type="password" id="confirmPassword" class="form-control form-control-lg" placeholder="Confirmar contraseña" required />
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Registrar</button>
                                </form>

                        </div>
                    </div>
    </section>

</div>
