@{
    ViewBag.Title = "Home Page";
}
<div class="inner">

    <!-- Header -->
    <header id="header">
        <a href="@Url.Action("Index", "Home")" class="logo"><strong>ColonIA</strong> by iCricket</a>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>Bienvenido a ColonIA</h1>
                <p>Tu herramienta para gestionar criaderos</p>
            </header>
            <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
            <ul class="actions">
                <li><a href="@Url.Action("Login", "Login")" class="button big">Iniciar Sesion</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="images/pic10.jpg" alt="" />
        </span>
    </section>
</div>