@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    

    <section>
        <header class="main">
            <h4>
                <a href="/Inventario/Recursos" class="icon solid fa-arrow-left">
                    Volver a Recursos
                </a>
            </h4>
        </header>
        <div class="box">
            <div class="card-headerCus">
                <h2>Registro de Recursos</h2>
            </div>

            <div class="card-body">
                <h4 class="text-center mb-4">Ingresa los detalles del nuevo recurso</h4>

                <form id="resourceForm" method="post">
                    <div class="form-group mb-3">
                        <label for="resourceName">Nombre del Recurso</label>
                        <input type="text" id="resourceName" name="resourceName" class="form-control" placeholder="Nombre del recurso" required />
                    </div>

                    <div class="form-group mb-3">
                        <label for="resourceType">Tipo de Recurso</label>
                        <select id="resourceType" name="resourceType" class="form-control" required>
                            <option value="">Selecciona un tipo</option>
                            <option value="Material">Material</option>
                            <option value="Equipos">Equipos</option>
                            <option value="Herramientas">Herramientas</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="resourceQuantity">Cantidad</label>
                        <input type="number" id="resourceQuantity" name="resourceQuantity" class="form-control" placeholder="Cantidad disponible" required />
                    </div>

                    <div class="form-group mb-3">
                        <label for="resourcePrice">Precio por Unidad</label>
                        <input type="number" id="resourcePrice" name="resourcePrice" class="form-control" placeholder="Precio por unidad" required />
                    </div>

                    <div class="form-group mb-3">
                        <label for="resourceType">Categoria</label>
                        <select id="categoria" name="categoria" class="form-control" required>
                            <option value="">Selecciona una categoria</option>
                            <option value="Seguridad">Seguridad</option>
                            <option value="Herrramientas">Herramientas</option>
                            <option value="Materiales">Materiales</option>
                        </select>
                    </div>
                    <button type="submit" class="buttom primary">Registrar Recurso</button>
                </form>
            </div>
        </div>
    </section>
</div>

