<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ColonIA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Contenido -->
        <div id="main">
            @RenderBody()
        </div>

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>

                        <!-- Usuario -->
                        <li>
                            <span class="opener">Usuario</span>
                            <ul>
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Administrador</a></li>
                                <li><a href="#">Operador</a></li>
                                <li><a href="#">Supervisor</a></li>
                                <li><a href="#">Control de Calidad</a></li>
                                <li>@Html.Partial("_LoginPartial")</li>
                            </ul>
                        </li>

                        <!-- Produccion -->
                        <li>
                            <span class="opener">Producción</span>
                            <ul>
                                <li><a href="#">Incubación</a></li>
                                <li><a href="#">Crianza</a></li>
                                <li><a href="#">Cosecha</a></li>
                            </ul>
                        </li>

                        <!-- Analisis -->
                        <li>
                            <span class="opener">Análisis</span>
                            <ul>
                                <li><a href="#">Vista General</a></li>
                                <li><a href="#">Chat</a></li>
                            </ul>
                        </li>

                        <!-- Calidad -->
                        <li>
                            <span class="opener">Calidad</span>
                            <ul>
                                <li><a href="#">Inspección</a></li>
                                <li><a href="#">Resultados</a></li>
                                <li><a href="#">Costos</a></li>
                                <li><a href="#">Finanzas</a></li>
                            </ul>
                        </li>

                        <!-- Inventario -->
                        <li>
                            <span class="opener">Inventario</span>
                            <ul>
                                <li><a href="#">Recursos</a></li>
                                <li><a href="#">Historial</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>

            </div>
        </aside>

    </div>

    <!-- Scripts -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/browser.min.js"></script>
    <script src="~/Assets/js/breakpoints.min.js"></script>
    <script src="~/Assets/js/util.js"></script>
    <script src="~/Assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
