<!DOCTYPE HTML>
<html>
<head>
    <title>ColonIA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link href="Assets/css/main.css" rel="stylesheet" />


</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">





        <!-- Main -->
        <div id="main">
            @RenderBody()
        </div>
    </div>

    <!-- Scripts -->


    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/browser.min.js"></script>
    <script src="~/Assets/js/breakpoints.min.js"></script>
    <script src="~/Assets/js/util.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <script src="~/Content/bootstrap.bundle.min.js"></script>




</body>
</html>