<!DOCTYPE HTML>
<html>
<head>
    <title>ColonIA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            @RenderBody()
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li>
                            <span class="opener">Usuario</span>
                            <ul>
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Administrador</a></li>
                                <li><a href="#">Operador</a></li>
                                <li><a href="#">Supervisor</a></li>
                                <li><a href="#">Control de Calidad</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Produccion</span>
                            <ul>
                                <li><a href="#">Incubacion</a></li>
                                <li><a href="#">Crianza</a></li>
                                <li><a href="#">Cosecha</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Analisis</span>
                            <ul>
                                <li><a href="#">Vista General</a></li>
                                <li><a href="#">Chat</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Calidad</span>
                            <ul>
                                <li><a href="#">Inspeccion</a></li>
                                <li><a href="#">Resultados</a></li>
                                <li><a href="#">Costos</a></li>
                                <li><a href="#">Finanzas</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Inventario</span>
                            <ul>
                                <li><a href="#">Recursos</a></li>
                                <li><a href="#">Historial</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/browser.min.js"></script>
    <script src="~/Assets/js/breakpoints.min.js"></script>
    <script src="~/Assets/js/util.js"></script>
    <script src="~/Assets/js/main.js"></script>

</body>
</html>