
@{
    ViewBag.Title = "Cosecha";
}
<div class="inner">
    <section>
        <header class="major">
            <h2>Cosecha</h2>
        </header>
        <div class="posts">
            <article>
                <h3>Lote C001</h3>
                <p>
                    Estado: Secado
                </p>
                <ul class="actions">
                    <li><a href="@Url.Action("CosechaDetalles","Produccion")" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Lote C002</h3>
                <p>
                    Estado: Secado
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Lote C003</h3>
                <p>
                    Estado: Trituracion
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Lote C004</h3>
                <p>
                    Estado: Secado
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Lote C005</h3>
                <p>
                    Estado: Embalaje
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Lote C006</h3>
                <p>
                    Estado: Embalaje
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
        </div>
    </section>
</div>