
@{
    ViewBag.Title = "CosechaDetalles";
}
<div class="inner">
    <header id="header">
        <h2>Lote C001</h2>
        <ul class="icons">
            <li><a href="@Url.Action("Cosecha","Produccion")" class="icon solid fa-arrow-left"></a></li>
        </ul>
    </header>
    <header class="main" style="margin-top:1%">
        <h4>Estado: Secado</h4>
    </header>
    <section>
        <div class="features">
            <article>
                <span class="icon solid fa-weight-hanging"></span>
                <div class="content">
                    <h3>Peso sin procesar</h3>
                    <p>
                        500g
                    </p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-weight"></span>
                <div class="content">
                    <h3>Peso procesado</h3>
                    <p>
                        200g
                    </p>
                </div>
            </article>
        </div>
        <header class="main" style="margin-top:1%">
            <h3>Reporte</h3>
        </header>
        <form method="post" action="#">
            <div class="row gtr-uniform">
                <div class="col-12">
                    <select name="demo-category" id="demo-category">
                        <option value="">- Estado -</option>
                        <option value="1">Recoleccion</option>
                        <option value="1">Secado</option>
                        <option value="1">Procesado</option>
                        <option value="1">Empacado</option>
                    </select>
                </div>
                <div class="col-12">
                    <input type="number" name="demo-name" id="demo-name" value="" placeholder="Peso" />
                </div>
                <!-- Break -->
                <div class="col-12">
                    <textarea name="demo-message" id="demo-message" placeholder="Detalles adicionales" rows="6"></textarea>
                </div>
                <!-- Break -->
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Crear Reporte" class="primary" /></li>
                        <li><input type="reset" value="Cancelar" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</div>
