
@{
    ViewBag.Title = "Incubacion";
}
<div class="inner">
    <section>
        <header class="major">
            <h2>Incubacion</h2>
        </header>
        <div class="posts">
            <article>
                <h3>Caja CI001</h3>
                <p>
                    ID Incubacion: IN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>
                <ul class="actions">
                    <li><a href="@Url.Action("IncubacionDetalles","Produccion")" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CI002</h3>
                <p>
                    ID Incubacion: IN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CI003</h3>
                <p>
                    ID Incubacion: IN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CI004</h3>
                <p>
                    ID Incubacion: IN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CI005</h3>
                <p>
                    ID Incubacion: IN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
            <article>
                <h3>Caja CI006</h3>
                <p>
                    ID Incubacion: IN1302</br>
                    Estado: Activo</br>
                    Edad: 1 semana
                </p>                <ul class="actions">
                    <li><a href="#" class="button">Detalles</a></li>
                </ul>
            </article>
        </div>
    </section>
</div>

